body {
    font-family: 'Poppins', sans-serif;
    margin: 15px;
}




.cover {
    width: 100%;
}

.vp {

}

.tagline {
    margin-bottom: 30px;
}

.cta {
    text-align: center;
}

.cta a {
    font-size: 16px;
    background-color: #1cb39b;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 18px;
    padding: 10px 35px;
    text-decoration: none;
    margin-top: 10px;
}